@media (max-width: 1251px) {
    .aboutMe_text_block span {
        color: var(--main-white-color);
    }
}

@media (max-width: 1250px) {
    .home-page_text {
        font-size: calc(70px + (30 + 30 * 0.7) * (100vw - 320px) / 1520);
    }

    .letter-W,
    .letter-E,
    .letter-B {
        font-size: calc(90px + (30 + 30 * 0.7) * (100vw - 320px) / 1520);
    }

    .header_container {
        width: 90%;
    }

    .aboutMe_text_block span {
        font-size: calc(23px + 27 * (100vw / 1520));
    }

    .section_title {
        font-size: calc(30px + 20 * (100vw / 1520));
    }

    .intro_container,
    .aboutMe_container,
    .skills_container,
    .projects_container,
    .footer_container,
    .project_list_container,
    .version_history_container {
        width: 100%;
    }

    .greet_container {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .name_page_block {
        width: 100%;
        flex-direction: row;
    }

    .description_page_block {
        font-size: calc(22px + (14 + 14 * 0.7) * ((100vw - 320px) / 1520));
    }
}

@media (max-width: 1220px) {
    .skills_content {
        flex-direction: column;
        align-items: center;
    }

    .skills_block {
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .physical_icons_block {
        width: 100%;
    }
}

@media (max-width: 1215px) {
    .aboutMe_page_container {
        width: 100%;
        flex-direction: column;
        justify-self: center;
        align-items: center;
    }

    .aboutMe_content_row-2 {
        width: 591px;
    }

    .block_interests {
        width: 100%;
        height: auto;
    }

    .interests_content {
        justify-content: space-between;
    }

    .block_future_content {
        width: 383px;
    }

    .block_quotes {
        width: 100%;
    }
}

@media (max-width: 1190px) {
    .project_list_container,
    .projects_card_block {
        justify-content: center;
    }

    .skills_block {
        justify-content: space-between;
    }

    .main_technology_stack {
        width: 49%;
    }
}

@media (max-width: 1040px) {
    .projects_card_block {
        justify-content: center;
    }

    .project_list_container {
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .viewing_sign {
        opacity: 1;
    }
}

@media (max-width: 700px) {
    .header_container {
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 20px;
    }

    .header_burger_container {
        display: flex;
    }

    .header_menu {
        position: absolute;
        top: 70px;
        left: 0px;
        width: 100%;
        height: 85dvh;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 10px;
        transition: 0.3s;
        z-index: 10;
        opacity: 0;
        transform-style: preserve-3d;
        transform: translate3d(110px, -250px, 0px) scale3d(0, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    }

    .burger_menu_divider-1,
    .burger_menu_title,
    .burger_menu_divider-2,
    .burger_menu_social_block_title,
    .burger_menu_social_block {
        display: flex;
    }

    .home_btn,
    .about_btn,
    .projects_btn {
        width: 100%;
        border-radius: 10px;
        padding: 10px;
        font-size: 22px;
        font-weight: 500;
    }

    .version_history_title,
    .project-name_page {
        font-size: 30px;
    }

    .version_number {
        font-size: 20px;
    }

    .update_date,
    .update_description {
        font-size: 18px;
    }
}

@media (max-width: 650px) {
    .footer_container {
        flex-direction: column;
        gap: 20px;
        padding: 20px 0px;
    }
}

@media (max-width: 630px) {
    .aboutMe_content_row-1,
    .aboutMe_content_row-2 {
        width: 100%;
        justify-content: flex-start;
        align-items: center;
    }

    .block_aboutMe {
        width: 383px;
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .main-image-container {
        width: 95%;
    }

    .aboutMe-text-content {
        width: 100%;
    }

    .aboutMe-paragraph-1,
    .aboutMe-paragraph-2 {
        font-size: 18px;
    }

    .music-social-container {
        width: 383px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .block_music {
        width: 383px;
    }

    .block_socials {
        width: 383px;
        height: auto;
        flex-direction: row;
    }

    .social-icon-block {
        justify-content: center;
        align-items: center;
    }

    .mobile-version-link {
        margin-top: 0px;
        gap: 10px;
    }

    .block_education,
    .block_tools,
    .block_interests,
    .block_quotes   {
        width: 383px;
    }

    .tool_icon {
        width: 60px;
        height: 60px;
    }

    .interests_content {
        justify-content: center;
    }

    .skills-experience-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .block_skills {
        width: 383px;
        height: auto;
    }
}

@media (max-width: 600px) {
    .aboutMe_text_block span {
        font-size: calc(23px + (27 + 27 * 0.7) * ((100vw - 320px) / 1520));
    }

    .section_title {
        font-size: calc(30px + (20 + 20 * 0.7) * ((100vw - 320px) / 1520));
    }
}

@media (max-width: 560px) {
    .skills_block {
        justify-content: space-between;
    }

    .main_technology_stack {
        width: 100%;
    }

    .version_history_title,
    .project-name_page {
        font-size: 25px;
    }

    .version_number {
        font-size: 18px;
    }

    .update_date,
    .update_description {
        font-size: 16px;
    }
}

@media (max-width: 430px) {
    .block_aboutMe,
    .music-social-container,
    .block_music,
    .block_socials,
    .block_education,
    .block_tools,
    .block_interests,
    .block_skills,
    .block_quotes,
    .skills-experience-container,
    .block_future_content,
    .main-image-container,
    .music_control_panel {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .project_card {
        width: 280px;
        height: 380px;
    }

    .project_image_background {
        width: 280px;
        height: 200px;
    }
}

@media (max-width: 390px) {
    .body_text,
    .closing_parenthesis,
    .comment_text,
    .font_famaly_text {
        margin-left: 15px;
    }
}

@media (max-width: 375px) {
    .aboutMe_text_block {
        padding: 15px;
    }

    .author_info,
    .update_info,
    .telegram_link,
    .linkedIn_link,
    .gitHub_link {
        font-size: 14px;
    }
}