:root {
    --main-dark-color: #000;
    --second-dark-color: #1c1c1e;
    --main-white-color: #ffffff;
    --main-gray-color: #949494;
    --second-gray-color: #4a4a4a;
    --third-gray-color: #2b2a2a;
}