@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

:root {
    --main-dark-color: #000;
    --second-dark-color: #1c1c1e;
    --main-white-color: #ffffff;
    --main-gray-color: #949494;
    --second-gray-color: #4a4a4a;
    --third-gray-color: #2b2a2a;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    color: var(--main-white-color);
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: var(--third-gray-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--second-gray-color);
}

body {
    box-sizing: border-box;
    padding: 20px;
    overflow-x: hidden;
    background-color: #080808;

    font-family: "Roboto", sans-serif;
    color: var(--main-white-color);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header_container {
    position: fixed;
    width: 1200px;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header_burger_container {
    width: 60px;
    height: 60px;

    border-radius: 16px;
    background: rgba(53, 53, 53, 0.5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    cursor: pointer;

    display: none;
    justify-content: center;
    align-items: center;
}

.header_burger_btn {
    user-select: none;
    -webkit-user-select: none;
}

.header_menu {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    box-sizing: border-box;
    padding: 6px;
    border-radius: 24px;
    background: rgba(53, 53, 53, 0.5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.home_btn,
.about_btn,
.projects_btn {
    box-sizing: border-box;
    padding: 8px 15px;
    border-radius: 16px;
    transition: 0.2s;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-size: 20px;
    font-weight: 400;
    color: var(--main-white-color);
}

.home_btn:hover,
.about_btn:hover,
.projects_btn:hover {
    background: rgba(242, 242, 242, 0.137);
}

.burger_menu_divider-1,
.burger_menu_divider-2 {
    width: 100%;
    height: 2px;
    background: #ffffff7f;
    margin: 0px 0px 10px 0px;

    display: none;
}

.burger_menu_divider-2 {
    margin: 10px 0px 0px 0px;
}

.burger_menu_title {
    display: none;

    margin: 10px 0px 15px 10px;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff7f;
}

.burger_menu_social_block_title {
    display: none;

    margin: 15px 0px 15px 10px;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff7f;
}

.burger_menu_social_block {
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;

    margin: 0px 0px 0px 10px;
}

.telegram_header_link,
.linkedIn_header_link,
.gitHub_header_link {
    font-size: 16px;
    font-weight: 400;
    color: var(--main-white-color);

    transition: 0.2s;
}

.telegram_header_link:hover,
.linkedIn_header_link:hover,
.gitHub_header_link:hover {
    color: var(--main-gray-color);
}

.intro_container {
    width: 1200px;
    height: 100vh;
    margin: 0px 0px 150px 0px;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home-page_text {
    width: 100%;

    font-size: 100px;
    font-weight: 500;
    color: var(--main-white-color);
    text-align: center;
    line-height: normal;
}

.letter-W,
.letter-E,
.letter-B {
    font-family: "Courgette", cursive;
    font-size: 120px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

.letter-W {
    color: #ffb700;
}

.letter-E {
    color: #5faf0f;
}

.letter-B {
    color: #0070c0;
}

.typing_text {
    font-weight: 500;
}

.typing_text::after {
    content: "|";
    animation: blink ease 1s infinite;
    -webkit-animation: blink ease 1s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.aboutMe_container {
    width: 1200px;
    margin: 0px 0px 150px 0px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.section_title {
    font-size: 40px;
    font-weight: 500;
    color: var(--main-white-color);
}

.aboutMe_text_block {
    width: 100%;
}

.aboutMe_text_block {
    text-align: center;
}

.aboutMe_text_block span {
    font-size: 40px;
    font-weight: 500;
    color: hsl(0 0% 100% / 0.2);

    background-clip: text;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-background-size: 0% 100%;
    background-size: 0% 100%;
    background-image: linear-gradient(90deg, white, white);
    will-change: background-size;
}

.change_color_btn-wrapper {
    width: 100%;
    margin: 10px 0px 0px 0px;

    display: flex;
    flex-direction: row;
    justify-content: end;
}

.change_color_btn {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0px 50px 0px 0px;
    box-sizing: border-box;
    padding: 10px 20px;
    background-color: var(--main-white-color);
    border-radius: 20px;
    transform: rotate(-9deg);
    cursor: pointer;
    transition: 0.2s;
    user-select: none;
    -webkit-user-select: none;

    font-size: 20px;
    font-weight: 500;
    color: var(--main-dark-color);
}

.change_color_btn:hover {
    transform: rotate(0deg);
}

.skills_container {
    width: 1200px;
    margin: 0px 0px 150px 0px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.skills_content {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.skills_block {
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
}

.main_technology_stack {
    width: 280px;
    height: 170px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    box-sizing: border-box;
    padding: 10px;
    transition: 0.2s;
    border-radius: 20px;
    border-radius: 20px;
    background: var(--second-dark-color);
}

.main_skill {
    font-size: 35px;
    font-weight: 500;
}

.html_name_skills {
    color: #E34C26;
}

.css_name_skills {
    color: #2965F1;
}

.js_name_skills {
    color: #F1E05A;
}

.vue_name_skills {
    color: #41B883;
}

.skill_description {
    font-size: 20px;
    font-weight: 400;
    color: var(--main-gray-color);
    text-align: center;
}

.physical_icons_block {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    overflow: hidden;
    border-radius: 20px;
    background: var(--second-dark-color);
}

.projects_container {
    width: 1200px;
    margin: 0px 0px 150px 0px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.projects_card_block {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.project_card {
    width: 350px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.project_image_background {
    position: relative;
    width: 350px;
    height: 225px;

    border-radius: 20px;
    background-color: #2f2f2f;
    overflow: hidden;
    border: 1px solid #4a4a4a1f;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.video_cover {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project_status {
    width: 100%;
    height: 100%;

    font-size: 30px;
    font-weight: 500;
    color: var(--main-gray-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.link_to_project_container {
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    padding: 10px;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.viewing_sign {
    width: 30px;
    height: 30px;
    opacity: 0;
    z-index: 100;
}

.project_image_background:hover .viewing_sign {
    opacity: 1;
}

.project_name {
    font-size: 30px;
    font-weight: 500;
    color: var(--main-white-color);

    margin: 20px 0px 0px 0px;
}

.project_description {
    font-size: 20px;
    font-weight: 400;
    color: var(--main-gray-color);

    margin: 10px 0px 0px 0px;
}

.project_technologies_container {
    width: 100%;
    margin: 15px 0px 0px 0px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.name_tech {
    font-size: 18px;
    font-weight: 500;
    color: var(--main-dark-color);
    
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    padding: 5px 12px;  
    border-radius: 20px;
}

.viewMore_btn_container {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.viewMore_content_block {
    height: 30px;
    margin: 50px 0px 0px 0px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.viewMore_text {
    font-size: 25px;
    font-weight: 500;
    color: var(--main-gray-color);

    transition: 0.2s;
}

.navigation_arrow {
    transition: 0.2s;
    margin: 0px 0px 0px 5px;
    transform: rotate(-45deg);
}

.viewMore_content_block:hover .viewMore_text {
    color: var(--main-white-color);
}

.viewMore_content_block:hover .navigation_arrow {
    fill: var(--main-white-color);
    transform: rotate(0deg);
}

.footer_container {
    width: 1200px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    box-sizing: border-box;
    padding: 20px 0px;
}

.info_block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
}

.author_info,
.footer_funny_text {
    font-size: 16px;
    font-weight: 400;
    color: var(--main-white-color);
}

.update_info,
.footer_funny_text {
    color: var(--main-gray-color);
}

.link_to_history_of_version {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.update_info {
    font-size: 16px;
    font-weight: 400;
    color: var(--main-gray-color);

    transition: 0.2s;
}

.arrow-to-history-of-version {
    margin: 0px 0px 0px 5px;
    transition: 0.2s;
}

.link_to_history_of_version:hover .update_info {
    color: var(--main-white-color);
}

.link_to_history_of_version:hover .arrow-to-history-of-version {
    fill: var(--main-white-color);
    transform: rotate(45deg);
}

.social_block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
}

.telegram_link,
.linkedIn_link,
.gitHub_link {
    font-size: 16px;
    font-weight: 400;
    color: var(--main-white-color);

    transition: 0.1s;
}

.telegram_link:hover,
.linkedIn_link:hover,
.gitHub_link:hover {
    color: var(--main-gray-color);
}

.qr_code_container {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100vh;
    z-index: 9999;

    opacity: 1;
    transition: 0.3s;
    transform-style: preserve-3d;
    background: rgba(18, 18, 18, 0.9);
    transform: translate3d(0px, 0px, 0px) scale3d(0, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
        skew(0deg, 0deg);

    display: flex;
    justify-content: center;
    align-items: center;
}

.qr_code_block {
    width: 315px;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 20px;
    background-color: var(--second-dark-color);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.qr_code_title {
    margin: 0px 0px 15px 0px;

    font-size: 30px;
    font-weight: 600;
    color: var(--main-white-color);
}

.qr_code_description {
    margin: 0px 0px 20px 0px;

    font-size: 20px;
    font-weight: 400;
    color: var(--main-gray-color);
}

.qr_code_background_block {
    width: 265px;
    height: 265px;

    background-color: var(--main-white-color);
    border-radius: 15px;
    margin: 0px 0px 20px 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.qr_code_close_btn {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0px 10px 0px;
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid var(--main-white-color);
    transition: 0.2s;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;
    font-weight: 700;
    color: var(--main-white-color);
}

.qr_code_close_btn:hover {
    background-color: var(--second-gray-color);
    border: 1px solid var(--second-gray-color);
}

.aboutMe_page_container {
    width: auto;
    height: auto;
    margin: 20vh 0px 150px 0px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 30px;
}

.aboutMe_content_row-1,
.aboutMe_content_row-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
}

.block_aboutMe,
.block_music,
.block_socials,
.block_education,
.block_interests,
.block_skills,
.block_future_content,
.block_quotes {
    background-color: var(--second-dark-color);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 15px;

    display: flex;
}

.block_tools {
    background-color: var(--second-dark-color);
    border-radius: 20px;
    overflow: hidden;

    display: flex;
}

.block_title {
    font-size: 25px;
    font-weight: 500;
    color: var(--main-white-color);
}

.tools_block_title {
    font-size: 25px;
    font-weight: 500;
    color: var(--main-white-color);

    margin: 15px 0px 0px 15px;
}

.block_aboutMe {
    width: 591px;
    height: 261px;
    padding: 10px;

    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.main-image-container {
    width: 232px;
    height: 241px;

    border-radius: 10px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image {
    width: cover;
    height: 100%;
    transform: scale(1.1);
}

.aboutMe-text-content {
    width: 55%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.aboutMe-paragraph-1,
.aboutMe-paragraph-2 {
    margin: 10px 0px 0px 0px;

    font-size: 20px;
    font-weight: 400;
    color: var(--main-white-color);
}

.aboutMe-paragraph-2 {
    margin: 15px 0px 0px 0px;
}

.music-social-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
}

.block_music {
    width: 383px;
    height: 353px;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.song_cover {
    width: 150px;
    height: 150px;

    border-radius: 8px;
    margin: 20px 0px 0px 0px;
    box-shadow: 3px 4px 13px rgb(255 255 255 / 16%);
}

.artist_name {
    margin: 10px 0px 0px 0px;

    font-size: 18px;
    font-weight: 400;
    color: var(--main-gray-color);
}

.song_name {
    margin: 10px 0px 0px 0px;

    font-size: 20px;
    font-weight: 500;
    color: var(--main-white-color);
}

.music_control_panel {
    width: 290px;
    height: 48px;

    border: 1px solid var(--main-gray-color);
    border-radius: 24px;
    margin: 15px 0px 0px 0px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.playlist_btn,
.previous_song_btn,
.play_btn,
.next_song_btn,
.player_volume_btn {
    cursor: pointer;
    transition: 0.1s;
}

.playlist_btn:active,
.previous_song_btn:active,
.play_btn:active,
.next_song_btn:active,
.player_volume_btn:active {
    transform: scale(0.9);
}

.playlist_btn {
    width: 19px;
    height: 19px;
}

.previous_song_btn,
.next_song_btn  {
    width: 27px;
    height: 27px;
}

.play_btn {
    width: 29px;
    height: 29px;
}

.player_volume_btn {
    width: 22px;
    height: 22px;
}

.block_socials {
    width: 178px;
    height: 353px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.social-icon-block {
    width: 100%;
    height: 148px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.telegram-icon-link,
.resume-icon-link,
.github-icon-link,
.linkedin-icon-link {
    width: 64px;
    height: 64px;
}

.telegram-icon,
.resume-icon,
.github-icon,
.linkedin-icon {
    fill: var(--second-gray-color);
    transition: 0.2s;
}

.telegram-icon:hover,
.resume-icon:hover,
.github-icon:hover,
.linkedin-icon:hover {
    fill: var(--main-gray-color);
    transition: 0.2s;
}

.mobile-version-link {
    width: 100%;
    height: 100%;

    cursor: pointer;
    margin: 20px 0px 0px 0px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.mobile-version-title {
    font-size: 20px;
    font-weight: 500;
    color: var(--main-white-color);
}

.block_education {
    width: 591px;
    height: 207px;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.list-of-education {
    width: 100%;
    margin: 15px 0px 0px 0px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.years-of-study,
.place-of-study {
    font-size: 20px;
    font-weight: 400;
    color: var(--main-white-color);
}

.years-of-study {
    color: var(--main-gray-color);
}

.block_tools {
    width: 591px;
    height: 259px;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.tool_scroller_container {
    width: 100%;
    height: 100%;
    margin-top: 20px 0px 0px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;

    mask: linear-gradient(90deg, transparent, black 20%, black 80%, transparent);
    -webkit-mask: linear-gradient(90deg, transparent, black 20%, black 80%, transparent);
}

.left-container,
.right-container {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.left-container {
    animation: scroll-left 30s linear infinite;
}
.right-container {
    animation: scroll-right 30s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-80%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-80%);
    }
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-80%);
    }
}

@-webkit-keyframes scroll-right {
    0% {
        transform: translateX(-80%);
    }
    100% {
        transform: translateX(0%);
    }
}

.tool_icon {
    width: 70px;
    height: 70px;
    transition: 0.2s;
}

.block_interests {
    width: 550px;
    height: 469px;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.interests_content {
    width: 100%;
    margin: 15px 0px 0px 0px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.interest-content-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.image-of-interest {
    width: 250px;
    height: 150px;
    border-radius: 10px;
}

.name-of-interest {
    font-size: 20px;
    font-weight: 400;
    color: var(--main-white-color);
}

.skills-experience-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
}

.block_skills {
    width: 178px;
    height: 382px;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.list-of-skills {
    width: 100%;
    margin: 15px 0px 0px 0px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}

.skills_title {
    font-size: 20px;
    font-weight: 400;
    color: var(--main-white-color);
}

.block_future_content {
    width: 342px;
    height: 382px;

    justify-content: center;
    align-items: center;
}

.block_quotes {
    width: 550px;
    height: 259px;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.quote_container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
}

.quote_title {
    font-size: 20px;
    font-weight: 300;
    color: var(--main-white-color);
}

.quote_author {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-size: 18px;
    font-weight: 500;
    color: var(--main-gray-color);
}

.quote_title,
.quote_author {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.quote_counter_container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.quote_counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.quote-1,
.quote-2,
.quote-3,
.quote-4,
.quote-5 {
    width: 11px;
    height: 11px;
    border-radius: 100%;
    background-color: var(--second-gray-color);
}

.quote-1 {
    width: 13px;
    height: 13px;
    background-color: var(--main-white-color);
}

.quote-initial {
    width: 11px;
    height: 11px;
    border-radius: 1000px;
    background-color: var(--second-gray-color);
}

.quote-final {
    width: 13px;
    height: 13px;
    border-radius: 1000px;
    background-color: var(--main-white-color);
}

.switch_arrows_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.quote_arrow {
    width: 30px;
    height: 30px;

    border-radius: 100%;
    background: rgba(82, 82, 82, 0.50);
    transition: 0.2s;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.quote_arrow:hover  {
    background: rgba(124.51, 124.51, 124.51, 0.50);
}

.previous_quote_arrow {
    transform: rotate(-180deg);
}

.greet_section {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    border-bottom: 1px solid var(--second-gray-color);
    box-sizing: border-box;
    padding: 0px 0px 20px 0px;
}

.project_list_container {
    width: 1200px;
    margin: 20vh 0px 150px 0px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 75px;
    row-gap: 50px;
}

.version_history_container {
    width: 1200px;
    margin: 20vh 0px 150px 0px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.section_title {
    font-size: 40px;
    font-weight: 500;
    color: var(--main-white-color);

    margin: 0px 0px 20px 0px;
}

.version_history_block {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    box-sizing: border-box;
    padding: 30px 0px 20px 0px;
    border-top: 1px solid var(--second-gray-color);
}

.first_update {
    border-bottom: 1px solid var(--second-gray-color);
}

.information_about_version {
    width: 100%;
    margin: 0px 0px 10px 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.version_number {
    font-size: 25px;
    font-weight: 500;
    color: var(--main-white-color);
}

.update_date,
.update_description {
    font-size: 20px;
    font-weight: 400;
    color: var(--main-gray-color);
}

.update_description {
    color: var(--main-white-color);
}